@media screen and (max-width: 480px) {
  body{
    overflow-y: hidden;
  }
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
    display: flex;
  }
  
/* Password */

.password-page {
  background-color: #1a1a1a;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.lock-image {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 5px;
  margin-top: 0px;
  color: white;
  font-family: Optima;
  /* font-weight: */
  font-size: 80px
}
h2 {
  margin-bottom: 80px;
  margin-top: 5px;
  color: #808080;
  font-family: Optima;
  font-weight: lighter;
  font-size: 30px
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 16px;
  margin-bottom: 25px;
  border-radius: 16px;
  font-size: 32px;
  background-color: white;
  color: black;
  width: 70%;
}

button {
  padding: 10px;
  border: none;
  border-radius: 16px;
  /* background-color: #ff6f61; */
  background-color: white;
  color: black;
  font-size: 32px;
  font-family: Optima;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 25%
}

button:hover {
  background-color: lightgray;
}

#errorMessage {
  color: #ff6f61;
  margin-top: 16px;
  font-size: 24px;
  font-family: Optima;
}

/* Main Menu */

#menu-image-track {
  display: flex;
  gap: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

#menu-image-track > .menu-image {
  width: 350px;
  height: 490px;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  transition: transform 0.2s ease
}

#menu-image-track > .menu-image:hover {
  cursor: pointer; /* Changes the cursor to indicate the image is clickable */
  transform: scale(1.05); /* Slightly enlarges the image */
  transition: transform 0.3s ease
}

#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: black;
  animation-duration: 150ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade-out {
  from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}



/* Back Arrow */

#back-arrow {
  position: fixed;  
  top: 2vmin;           
  left: 2vmin;          
  width: 10vmin;      
  height: 10vmin;    
  z-index: 999;
  transform: scale(1);
  opacity: 1;
  transition: transform 0.2s ease, opacity 0.2s;
  /* Make it not highlightable */
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#back-arrow:hover {
  cursor: pointer; /* Changes the cursor to indicate the image is clickable */
  transform: scale(1.15);
  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s;
}



/* Roof */

#roof-image-track {
  display: flex;
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(0%, -20%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

.roof-image {
  object-fit: cover;
  object-position: 70% center;
  position: absolute; 
  bottom: 0;
  right: 0;
  width: 200vmin;
  height: 150vmin;
}



/* Infinite Ducks */
.ducks-background {
  background-color: white;
  overflow: scroll;
  position: relative;
  height: 100vh;
  width: 100vw;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}

.ducks-image-container{
  width: 100%;
  height: 100%;
  position: relative;
}

.ducks-image-container img{
  position: absolute;
  transition: transform 0.5s;
  user-select: none; /* Prevents text selection */
  -webkit-user-drag: none; /* Prevents image dragging in WebKit browsers */
}

.ducks-image-container img:hover{
  transform: scale(1.1) rotate(3deg);
}

.ducks-counter-container {
  position: fixed;
  top: 2vmin;
  right: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}

.ducks-counter {
  padding: 0;
  font-size: 4vmin;
  z-index: 100;
  margin-bottom: 0.5vmin;
}



/* Connections */
@font-face {
  font-family: nyt-connections-font;
  src: url(connections/franklin-normal-600.ttf);
}

@font-face {
  font-family: gothic-medium;
  src: url(connections/OPTIFranklinGothic-Medium.otf);
}

.connections-background {
  font-family: gothic-medium;
  font-weight: bold;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: scroll;
}

#connections-instructions {
  font-size: 24px;
  font-family: nyt-connections-font;
  margin-bottom: 4vmin;
  margin-top: 10vmin;
}

#game-container {
  text-align: center;
  gap: 1vmin;
}

#words-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5vmin;
}

.word {
  background-color: #efefe6;
  padding: 30px 15px;
  cursor: pointer;
  user-select: none;
  border-radius: 8px;
  font-size: 26px;
  width: 26vmin;
  height: 7vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.word.selected {
  background-color: #5a594e;
  color: white;
}

#submit-btn {
  background-color: black;
  border: 0.3vmin solid black;
  color: white;
  border-radius: 5vmin;
  padding: 3vmin 6vmin;
  cursor: pointer;
  margin-top: 4vmin;
  margin-bottom: 10vmin;
  width: 22vmin;
  font-family: nyt-connections-font;
  font-size: 3vmin;
}

#submit-btn.disabled {
  background-color: white;
  color: #7f7f7f;
  border: 0.3vmin solid #7f7f7f;
  cursor: not-allowed;
}

#categories-container {
  margin-bottom: 1.5vmin;
}

.category-box {
  grid-column: span 4; /* Make category-box span all columns */
  padding: 30px 15vmin;
  height: 7vmin;
  background-color: green;
  margin-top: 1.5vmin;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 26px;
}

.category-box .category-items {
  font-family: nyt-connections-font;
  font-size: 22px;
}

@keyframes jiggle {
  0% { transform: translateX(0); }
  20% { transform: translateX(0); }
  40% { transform: translateX(-10px); }
  60% { transform: translateX(10px); }
  80% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

.jiggle {
  animation: jiggle 0.5s ease;
  background-color: #83837a;
  color: white;
}

.popup {
  position: fixed;
  top: 3vmin;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  border-radius: 1.5vmin;
  padding: 3vmin;
  font-size: 3.5vmin;
  font-weight: bold;
  z-index: 1000;
  visibility: visible;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-in-out;
}

.popup.show {
  visibility: visible;
  opacity: 1;
}

.popup.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}



/* Stardew */
.stardew-background {
  background-image: url('stardew/stardew-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  touch-action: none;
  -ms-touch-action: none;
  /* position: absolute; */
}

#stardew-canvas {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 26vmin;
  /* height: 26vmin; */
  z-index: 10;
  /* Make it not highlightable */
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

#stardew-tree-canvas {
  position: absolute;
  top: 39%;
  left: 43.5%;
  transform: translate(-50%, -50%);
  width: 34vmin;
  /* height: 26vmin; */
  z-index: 1;
  /* Make it not highlightable */
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

#stardew-item-div {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
  /* Make it not highlightable */
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.stardew-item-sprite {
  width: 10vmin;
  height: 10vmin;
  position: relative;
}

@font-face {
  font-family: stardew-number-font-outline;
  src: url(stardew/ServiceGamesOldskoolOutline-XG82.ttf);
}
@font-face {
  font-family: stardew-number-font-inside;
  src: url(stardew/ServiceGamesOldskool-LVDy.ttf);
}
#item-count-text-outline {
  position: absolute;
  bottom: 1.1vmin;
  right: 1.5vmin;
  text-align: right;
  font-family: stardew-number-font-outline;
  font-size: 1.4vmin;
  z-index: 10001;
}
#item-count-text-inside {
  position: absolute;
  bottom: 1.1vmin;
  right: 1.5vmin;
  text-align: right;
  font-family: stardew-number-font-inside;
  font-size: 1.4vmin;
  color: white;
  z-index: 10000;
}



/* Tortilla Slap */

.tortilla-body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

#tortilla-image-container {
  position: absolute;
  height: 100%;
  aspect-ratio: 9 / 16;
  overflow: hidden;
  top: 50%;  /* Position the top edge of the element at the center of the parent */
  left: 50%;
  transform: translate(-50%, -50%);
}

.tortilla-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0%;
}



/* Coin flip */
.coin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  /* font-family: Arial, sans-serif; */
}

.coin-flip-container {
  text-align: center;
  background-color: white;
  border-radius: 2vmin;
  box-shadow: 0 1vmin 2vmin rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 96vmin;
  height: 60vmin;
}

.coin-header {
  background-color: white;
  padding: 2vmin;
  text-align: left;
  color: black;
  font-size: 10vmin
}

@font-face {
  font-family: open-sans-font;
  src: url(coin/OpenSans-VariableFont_wdth.ttf);
}

h3 {
  margin-bottom: 0;
  margin-top: 0;
  padding: 1vmin;
  color: black;
  font-size: 5vmin;
  font-family: open-sans-font;
}

.coin-content {
  padding: 5vmin;
  background-color: #4dd0e1;
}

#coin-canvas {
  margin-top: 1vmin;
  width: 15vmin;
  height: auto;
}

#result {
  font-size: 3vmin;
  padding: 0;
  margin-bottom: 0;
  margin-top: 1vmin;
  color: white;
  font-family: open-sans-font;
}

.coin-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 1.5vmin;
}

.coin-button {
  /* padding: 10px 20px; */
  border: none;
  background-color: white;
  color: #21a9f4;
  font-size: 3vmin;
  font-family: open-sans-font;
  cursor: pointer;
  border-radius: 1vmin;
  flex: 1;
  margin: 0 1vmin;
  padding: 4.5vmin;
  text-align: center;
}

#flip-button:hover {
  background-color: lightgray;
}

/* Strands */

.strands-background {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: auto;
  margin: 0;
  overflow: scroll;
}

#currWord {
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 30px;
  height: 30px; /* Set a fixed height */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  font-weight: bold;
}

.foundWordsBlueText {
  color: #0f7ea0;
}

.foundSpangramGoldText {
  color: #f8cb2c;
}

#grid {
  display: grid;
  grid-template-columns: repeat(6, 40px);
  grid-template-rows: repeat(8, 40px);
  gap: 12px;
  position: relative;
  z-index: 2;
}

#lineCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none; /* Ensure the canvas does not interfere with mouse events */
}

.cell {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}

.letter {
  position: relative;
  z-index: 2;
  font-size: 24px;
}

.highlight {
  background-color: #dbd8c5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 50%;
  display: none; /* Hidden by default */
}

.animPulse {
  animation: 200ms ease Pulse;
}

@keyframes Pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulseSubmit {
  0% {
    transform: scale(1);
  }
  12.5% {
    transform: scale(0.8);
  }
  35% {
    transform: scale(1.15);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.pulseSubmit {
  animation: 0.75s ease pulseSubmit;
}

.invalidshake {
  animation: shake ease-in 0.2s 1.5;
}

@keyframes shake {
  0%,
  100% {
    transform: translatex(0);
  }

  25% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }
}
